 body {
  background-color: rgb(236, 204, 165);
 }
 
.fox {
  margin-top: 30px;
  margin-left: 25px;
  border-radius: 20px;
  
}

.parContent {

  margin-top: 30px;
  margin-left: 25px;
  font-size: 25px;
}
.parAuthor {
  margin-top: 30px;
 margin-left: 25px;
  font-size: 20px;
  color: rgb(87, 81, 81);
}



